<!DOCTYPE html>
<html>
  <head>

    <title>All of the Servants in Fate Grand Order!</title>


    <style>
      
      </style>

  </head>

  <body>

    <!-- This is where we try to use Chaldea app to get names and pictures of all servants. -->

    <h1>
      All Servants
    </h1>

    <ul>
      <!╌Home link ╌>
      
      <li><A HREF="https://fateg.herokuapp.com/"> Home </A></li>
      
      <!╌Favorite Servant link ╌>
      
      <li><A HREF="https://fateg.herokuapp.com/favorite servant"> My favorite servant! </A></li>
      
      <!╌FGO servant list through JSON link ╌>
      
      <li><A HREF="https://fateg.herokuapp.com/all"> All Fate Grand Order Servants </A></li>

    </ul>
    

  </body>

     

 </html>
