<!doctype html>
<html>
  <head>
    
    <title>Fate Grand Order Fan Website</title>
    
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}"/>

    <style>
      h1 {text-align: center;}
    </style>
    
  </head>
  <body>
    <h1> Hello and Welcome To My Fate Grand Order Webstie!</h1>


    <ul>
      <!╌Home link ╌> 
      <li><A HREF="https://fateg.herokuapp.com/"> Home </A></li>
      
      <!╌Favorite Servant link ╌>
      
      <li><A HREF="https://fateg.herokuapp.com/favorite servant"> My favorite servant! </A></li>
      
      <!╌FGO servant list through JSON link ╌>
      
      <li><A HREF="https://fateg.herokuapp.com/all"> All Fate Grand Order Servants </A></li>

    </ul>
    

  </body>
</html>
