<!DOCTYPE html>
<html>
  <head>

    <title>Ereshkigal is my Favorite Servant!</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='eresh.css') }}"/>
    <style>
      
      </style>

  </head>

  <body>


    <img src="https://static.atlasacademy.io/NA/Faces/f_3032000.png" alt="Ereshkigal is best girl!" class = "center" height="300" width="300">

    

    <h1>
      Favorite servant
    </h1>

    <ul>
      <!╌Home link ╌>
      
      <li><A HREF="https://fateg.herokuapp.com/"> Home </A></li>
      
      <!╌Favorite Servant link ╌>
      
      <li><A HREF="https://fateg.herokuapp.com/favorite servant"> My favorite servant! </A></li>
      
      <!╌FGO servant list through JSON link ╌>
      
      <li><A HREF="https://fateg.herokuapp.com/all"> All Fate Grand Order Servants </A></li>

    </ul>
    

  </body>

     

 </html>
